
<ul>
  <li>First Name <@user.first_name></ul>
  <li>Last Name<@user.last_name></ul>
  <li>Telephone Number<@user.telephone_number></ul>
  <li>Events:
    <ul>
      <% @user.events.all do |event|%>
      <li><%= event.name %></li>
      <% end %>
    </ul>
  </li>
  <li><%= @user.attended_events[1].name%></li>
  
  
  <li>Attended Events:</li>
  <li>Past:</li>
   <li> <ul>
    <% @user.attended_events.each do |a|%>
    <li> <%= a.name if a.date < Date.today %> </li>
    <% end %>
  </ul></li>
  <li>Future:</li>
   <li> <ul>
    <% @user.attended_events.each do |a|%>
    <li> <%= a.name if a.date > Date.today %> </li>
    <% end %>
  </ul></li>
</ul>