<div class="event_page">
  <div class="event_title"> <%= @event.name %> </div>
  <div class="event_details"> <%= @event.details %> </div>
  <div class="event_date"> <%= @event.date %> </div>
  <div class="event_location"> <%= @event.location %> </div>
</div>